.container{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    padding: 10rem;
    width: 100%;
}

@media screen and (min-width: 68px){
    
}