.cart-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--dark-background-color);
    padding: 1rem 0;
    margin: 1rem 0;
  }
  
  .cart-item h2 {
    margin: 0 0 0.5rem 0;
    color: #363636;
    font-size: 1.5rem;
  }
  
  .summary {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price {
    font-weight: bold;
    color:  #8a2b06;
    font-size: 1.5rem;
  }
  
  .amount {
    font-weight: bold;
    
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    color: #363636;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
  }