.header{
   display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    padding-top: 38px;
    height: 80px;
    width: 100%;
    /* Fixing the header to the top of the page. */
   /* Fixing the header to the top of the page. */
    position: fixed;
    /* top:0; left:0; right:0; */
    z-index: 1000;
    background-color: var(--brown-theme-main-color);
}

.container img{
    height: 5rem;
}

.menu{
    display: flex;
    list-style: none;
    text-align: center;
}

.list{
    line-height: 40px;
    margin-right: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}

 a{
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
}

a:active, a:hover{
    color: var(--brown-theme-main-;
    border-bottom: .1rem solid #fff;
}

.icons{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.cart{
    color: black;
    font-size: 2rem;
}



.badge{
    border: var(--border);
    background-color: var(--brown-theme-main-color);
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: .5rem;
    font-weight: bold;
}

.button{
    display: flex;
    background: #fff;
    color:black;
    padding: 0.75rem 2rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    
    cursor: pointer;
    
}

button:hover{
    background-color: var(--brown-theme-main-color);
}

.bar{
    display: none;
}

@media only screen and (max-width : 940px){
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
        right: 100%;
        align-items: center;
        background-color: rgba(255, 255, 255, .8);
        transition: 0.5s ease-in;
    }

    .active{
        
        right: 0px;
    }

    a{
        
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
        color: var(--black);
    }

    .bar{
        display: block;
        cursor: pointer;
        color:#fff;
        
        z-index: 15;
    }

    .icons{
        display: flex;
        align-items: center;
    }
}