@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&family=Roboto:wght@100;300&display=swap");

:root{
  --dark-background-color: #07070A;
  --brown-theme-main-color: #F1B007;
  --border: .1rem solid #161619;
}

*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  outline: none; border: none;
  transition: 1s linear;
}

html{
  font-size: 62.5%;
  height: 100%;
}

body{
  background: var(--dark-background-color);
  height: 100%;
}

#root{
  height: 100%;
}